{% extends "index.html" %}

{% block content %}
    {% from "macros.html" import generate_password_form %}
    <form action="" method="POST" class="d-flex justify-content-center mt-5">
        {{ form.csrf_token }}

        <div class="form-group w-75">
            <div class="row">
                {{ generate_password_form(form.passwordGenerated) }}
            </div>
            <div class="row">
                {{ generate_password_form(form.password_length) }}
            </div>
            <div class="ml-3">
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="1" name="numberCheckBox">
                        <label class="form-check-label" for="flexCheckDefault">
                          Numbers
                        </label>
                      </div>
                </div>
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="1" name="lowerCheckBox">
                        <label class="form-check-label" for="flexCheckDefault">
                          Lowers
                        </label>
                      </div>
                </div>
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="1" name="upperCheckBox">
                        <label class="form-check-label" for="flexCheckDefault">
                          Uppers
                        </label>
                      </div>
                </div>
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="1" name="punctCheckBox">
                        <label class="form-check-label" for="flexCheckDefault">
                          Special characters
                        </label>
                      </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                {{ generate_password_form(form.password_encrypted) }}
            </div>

            
            <div class="buttons d-flex justify-content-center">
                <button type="submit" class="btn btn-success" id="submit_button">Generate</button>
            </div>
        </div>
        {% if data %}
        <script type="application/javascript">
            // debo hacer que se vea la contraseña en el input y utilizando asicronicidad.
            const data = JSON.parse('{{ data | tojson | safe }}');
            /* tojson is a filter indicates that the format of the variable will be the same 
            and the safe filter indicates that the variables doesn't need scape 'cause
            is a secure data.*/
            
            let passwordLabelValue = document.getElementById('password_label');
            let hashedPasswordLabel = document.getElementById('password_encrypted');

            passwordLabelValue.value = "";
            passwordLabelValue.value = data.password;

            hashedPasswordLabel.value = "";
            hashedPasswordLabel.value = data.password_encrypted;

        </script>
    {% endif %}
    </form>
{% endblock %}