{% extends "index.html" %}

{% block content %}
    {% from "macros.html" import generate_password_form %}
    <form action="" method="POST" class="d-flex justify-content-center mt-5">
        {{ form.csrf_token }}
        {% if password %}
            <script>
                // debo hacer que se vea la contraseña en el input y utilizando asicronicidad.
                alert('{{ password }}');
            </script>
        {% endif %}
        <div class="form-group w-75">
            <div class="row">
                {{ generate_password_form(form.passwordGenerated) }}
            </div>
            <div class="row">
                {{ generate_password_form(form.password_length) }}
            </div>
            <div class="buttons d-flex justify-content-center">
                <button type="submit" class="btn btn-success" id="submit_button">Generate</button>
            </div>
        </div>
    </form>
{% endblock %}